# Dependencies
**/node_modules
**/.pnpm-store

# Build outputs
**/dist
**/build
**/.turbo
**/*.tsbuildinfo

# Git
.git
.gitignore

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# Tests
**/coverage
**/.vitest-cache
**/tests

# Docs
docs/

# OS
.DS_Store
Thumbs.db

# Logs
**/*.log
